

<section class="review">

    <h1>Reviews</h1>

    <h2> Numero do quarto: <%=@quarto.numero %> </h2>

    <div	class="room-description">
        <%= link_to(image_tag(@quarto.foto.thumb.url), @quarto.foto_url) %>
    </div>    

    Pontuação Média: 
    <% @media_estrelas.times do%>
      <span class= "filled_star"></span>
    <%end%>
    
    <% (5 - @media_estrelas).times do%>
      <i class= "empty_star fa fa-star"></i>
    <%end%>

    <%=render partial: 'reviews_quarto', object: @reviews %>
    <!-- a partir das configurações passadas acima a função render, na view da partial é criada um variavel local com o nome da partial recebendo os valores do objeto model passado a função render --> 
    <!-- tambem é possível definir nomes customizados para as variáveis local: render partial: 'reviews_quarto', locals: {the_reviews: @reviews} -->
    <br>

    <%= link_to "voltar", root_path %>

</section>
