<% = @usuario_review.quarto.numero %> <!--utilizando params quarto pela rota aninhada -->
<br>
<br>
<% = @usuario_review.usuario.nome %>
<br>
<br>

<section class= 'review'>

<%= form_for [@usuario_review.quarto, @usuario_review ] do |f| %>

    <% Review::POINTS.each do |point| %>
        <%= f.radio_button :pontos, point %>
        <%= f.label :pontos, point, value: point %>
    <% end %>

<%end%>

</section>